{% extends "app/base.html" %}
{% load static %}
{% block title %}Elenco{% endblock title %}
{% block imagem_header %}{% static "app/img/background-red.png" %}{% endblock imagem_header %}
{% block titulo %}Elenco{% endblock titulo %} {% block subtitulo %}Conheça o cast de Friends{% endblock subtitulo %}
{% block content %}
{% for ator in atores %}
<a href="{% url 'ator' ator.id %}">
  <div class="w3-third card">
    <img src="{% static ator.imagem %}" class="w3-hover-opacity card-img-top w-100" />
    <div class="card-body text-start">
      <h5 class="card-title">{{ ator.nome }}</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">{{ ator.personagem }}</h6>
      <p class="card-text">
        {{ ator.idade }} anos
        <br />
        {{ ator.local_nasc }}
      </p>
    </div>
  </div>
</a>
{% endfor %} 
{% endblock content %}
