{% extends "app/base.html" %}
{% load static %}
{% block title %}Início{% endblock title %}
{% block imagem_header %}{{ inicio.banner.url }}{% endblock imagem_header %}
{% block titulo %}{{ inicio.titulo_apresentacao }}{% endblock titulo %}
{% block subtitulo %}{{ inicio.subtitulo_apresentacao }}{% endblock subtitulo %}
{% block content %}
<section>
  <h2 class="w3-wide mt-0">{{ inicio.titulo_conteudo }}</h2>
  <p class="w3-opacity"><i>{{ inicio.subtitulo_conteudo }}</i></p>
  <p class="w3-justify mb-0">{{ inicio.texto|safe }}</p>

  <!-- Carousel -->
  <div class="w3-row w3-padding-32" style="padding-bottom: 0px !important">
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        {% for item in CarrosselItem %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <img src="{{ item.imagem.url }}" class="d-block w-100" />
        </div>
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>
{% endblock content %}
