{% extends "app/base.html" %}
{% load static %}
{% block title %}Início{% endblock title %}
{% block imagem_header %}{% static "app/img/background-yellow.png" %}{% endblock imagem_header %}
{% block titulo %}Bem-vindo{% endblock titulo %}
{% block subtitulo %}Navegue pelo site{% endblock subtitulo %}
{% block content %}
<section>
  <h2 class="w3-wide mt-0">{{ introducao.titulo }}</h2>
  <p class="w3-opacity"><i>{{ introducao.subtitulo }}</i></p>
  <p class="w3-justify mb-0">{{ introducao.conteudo }}</p>

  <!-- Carousel -->
  <div class="w3-row w3-padding-32" style="padding-bottom: 0px !important">
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static introducao.primeira_foto %}" class="d-block w-100" />
        </div>
        <div class="carousel-item">
          <img src="{% static introducao.segunda_foto %}" class="d-block w-100" />
        </div>
        <div class="carousel-item">
          <img src="{% static introducao.terceira_foto %}" class="d-block w-100" />
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>
{% endblock content %}
