{% extends "app/base.html" %} 
{% load static %} 
{% block title %}Sobre{% endblock title %} 
{% block imagem_header %}{{ sobre.banner.url }}{% endblock imagem_header %} 
{% block titulo %}{{ sobre.titulo_apresentacao }}{% endblock titulo %} 
{% block subtitulo %}{{ sobre.subtitulo_apresentacao }}{% endblock subtitulo %} 
{% block content %}
<section class="row d-flex align-items-center">
  <div class="col m6 w3-hide-medium w3-hide-small pe-5">
    <img src="{{ sobre.svg.url }}" class="w3-round w3-image" />
  </div>
  <div class="col d-flex flex-column gap-4 ">
    {% for secao in secoes_sobre %}
    <div>
      <h2 class="w3-wide mt-0">{{ secao.titulo }}</h2>
      <p class="w3-opacity"><i>{{ secao.subtitulo }}</i></p>
      <p class='w3-justify mb-0'>{{ secao.texto|safe }}</p>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock content %}
